In [4]:
import pandas as pd

In [6]:
data = pd.read_csv('./data/AirQualSample_1206_1212_s5.csv')

In [7]:
data

,AirSpeed,AirDirection,PM1,PM10,PM2_5,Temp,Humidity,CO2Den,CODen,AtmosphericPress,Vibration,FineDustCount1,FineDustCount2,FineDustCount3,FineDustCount4,FineDustCount5,FineDustCount6,TimeStamp
0,0.0,0.0,175.299988,185.799988,183.499985,22.680222,8.100184,597,0.028473,997.317017,0.0,12413700,945180,149400,3960,72,12,2019-12-06 00:00:00
1,0.0,0.0,175.299988,185.799988,183.499985,22.680222,8.100184,597,0.028473,997.317017,0.0,12413700,945180,149400,3960,72,12,2019-12-06 00:00:01
2,0.0,0.0,175.299988,185.799988,183.499985,22.680222,8.100184,597,0.028473,997.317017,0.0,12413700,945180,149400,3960,72,12,2019-12-06 00:00:02
3,0.0,0.0,178.499985,190.599976,188.099976,22.746170,8.289584,597,0.040296,997.347107,0.0,12493800,955080,156240,4620,72,13,2019-12-06 00:00:03
4,0.0,0.0,178.499985,190.599976,188.099976,22.746170,8.289584,597,0.040296,997.347107,0.0,12493800,955080,156240,4620,72,13,2019-12-06 00:00:04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
604795,0.0,0.0,170.199982,199.599976,193.999985,24.955154,14.800212,806,0.040296,987.916016,0.0,11475300,843120,166440,11520,156,29,2019-12-12 23:59:55
604796,0.0,0.0,172.499985,191.099976,187.599976,24.988129,14.823887,805,0.040296,987.916016,0.0,11632200,872820,166680,7320,132,18,2019-12-12 23:59:56
604797,0.0,0.0,172.499985,191.099976,187.599976,24.988129,14.823887,805,0.040296,987.916016,0.0,11632200,872820,166680,7320,132,18,2019-12-12 23:59:57
604798,0.0,0.0,172.499985,191.099976,187.599976,24.988129,14.823887,805,0.040296,987.916016,0.0,11632200,872820,166680,7320,132,18,2019-12-12 23:59:58
604799,0.0,0.0,172.499985,191.099976,187.599976,24.988129,14.823887,805,0.040296,987.916016,0.0,11632200,872820,166680,7320,132,18,2019-12-12 23:59:59

In [10]:
data.columns

Index(['AirSpeed', 'AirDirection', 'PM1', 'PM10', 'PM2_5', 'Temp', 'Humidity',
       'CO2Den', 'CODen', 'AtmosphericPress', 'Vibration', 'FineDustCount1',
       'FineDustCount2', 'FineDustCount3', 'FineDustCount4', 'FineDustCount5',
       'FineDustCount6', 'TimeStamp'],
      dtype='object')

In [12]:
data = data.rename(columns={'TimeStamp': 'dtime'})
data = data[['dtime', 'Temp', 'Humidity', 'AtmosphericPress', 'PM1', 'PM2_5', 'PM10', 'CODen', 'CO2Den']]

In [14]:
data

,dtime,Temp,Humidity,AtmosphericPress,PM1,PM2_5,PM10,CODen,CO2Den
0,2019-12-06 00:00:00,22.680222,8.100184,997.317017,175.299988,183.499985,185.799988,0.028473,597
1,2019-12-06 00:00:01,22.680222,8.100184,997.317017,175.299988,183.499985,185.799988,0.028473,597
2,2019-12-06 00:00:02,22.680222,8.100184,997.317017,175.299988,183.499985,185.799988,0.028473,597
3,2019-12-06 00:00:03,22.746170,8.289584,997.347107,178.499985,188.099976,190.599976,0.040296,597
4,2019-12-06 00:00:04,22.746170,8.289584,997.347107,178.499985,188.099976,190.599976,0.040296,597
...,...,...,...,...,...,...,...,...,...
604795,2019-12-12 23:59:55,24.955154,14.800212,987.916016,170.199982,193.999985,199.599976,0.040296,806
604796,2019-12-12 23:59:56,24.988129,14.823887,987.916016,172.499985,187.599976,191.099976,0.040296,805
604797,2019-12-12 23:59:57,24.988129,14.823887,987.916016,172.499985,187.599976,191.099976,0.040296,805
604798,2019-12-12 23:59:58,24.988129,14.823887,987.916016,172.499985,187.599976,191.099976,0.040296,805
604799,2019-12-12 23:59:59,24.988129,14.823887,987.916016,172.499985,187.599976,191.099976,0.040296,805

In [16]:
data['PM1'] = data['PM1'].round().astype('Int64')
data['PM2_5'] = data['PM2_5'].round().astype('Int64')
data['PM10'] = data['PM10'].round().astype('Int64')

In [18]:
data

,dtime,Temp,Humidity,AtmosphericPress,PM1,PM2_5,PM10,CODen,CO2Den
0,2019-12-06 00:00:00,22.680222,8.100184,997.317017,175,183,186,0.028473,597
1,2019-12-06 00:00:01,22.680222,8.100184,997.317017,175,183,186,0.028473,597
2,2019-12-06 00:00:02,22.680222,8.100184,997.317017,175,183,186,0.028473,597
3,2019-12-06 00:00:03,22.746170,8.289584,997.347107,178,188,191,0.040296,597
4,2019-12-06 00:00:04,22.746170,8.289584,997.347107,178,188,191,0.040296,597
...,...,...,...,...,...,...,...,...,...
604795,2019-12-12 23:59:55,24.955154,14.800212,987.916016,170,194,200,0.040296,806
604796,2019-12-12 23:59:56,24.988129,14.823887,987.916016,172,188,191,0.040296,805
604797,2019-12-12 23:59:57,24.988129,14.823887,987.916016,172,188,191,0.040296,805
604798,2019-12-12 23:59:58,24.988129,14.823887,987.916016,172,188,191,0.040296,805
604799,2019-12-12 23:59:59,24.988129,14.823887,987.916016,172,188,191,0.040296,805

In [20]:
data['weekday'] = pd.to_datetime(data['dtime']).dt.strftime('%A')

In [21]:
data

,dtime,Temp,Humidity,AtmosphericPress,PM1,PM2_5,PM10,CODen,CO2Den,weekday
0,2019-12-06 00:00:00,22.680222,8.100184,997.317017,175,183,186,0.028473,597,Friday
1,2019-12-06 00:00:01,22.680222,8.100184,997.317017,175,183,186,0.028473,597,Friday
2,2019-12-06 00:00:02,22.680222,8.100184,997.317017,175,183,186,0.028473,597,Friday
3,2019-12-06 00:00:03,22.746170,8.289584,997.347107,178,188,191,0.040296,597,Friday
4,2019-12-06 00:00:04,22.746170,8.289584,997.347107,178,188,191,0.040296,597,Friday
...,...,...,...,...,...,...,...,...,...,...
604795,2019-12-12 23:59:55,24.955154,14.800212,987.916016,170,194,200,0.040296,806,Thursday
604796,2019-12-12 23:59:56,24.988129,14.823887,987.916016,172,188,191,0.040296,805,Thursday
604797,2019-12-12 23:59:57,24.988129,14.823887,987.916016,172,188,191,0.040296,805,Thursday
604798,2019-12-12 23:59:58,24.988129,14.823887,987.916016,172,188,191,0.040296,805,Thursday
604799,2019-12-12 23:59:59,24.988129,14.823887,987.916016,172,188,191,0.040296,805,Thursday

In [24]:
data['weekday'].value_counts()

weekday
Friday       86400
Saturday     86400
Sunday       86400
Monday       86400
Tuesday      86400
Wednesday    86400
Thursday     86400
Name: count, dtype: int64

In [26]:
data['time_hms'] = pd.to_datetime(data['dtime']).dt.time

In [36]:
data['st_id'] = 2;

In [38]:
data

,dtime,Temp,Humidity,AtmosphericPress,PM1,PM2_5,PM10,CODen,CO2Den,weekday,time_hms,st_id
0,2019-12-06 00:00:00,22.680222,8.100184,997.317017,175,183,186,0.028473,597,Friday,00:00:00,2
1,2019-12-06 00:00:01,22.680222,8.100184,997.317017,175,183,186,0.028473,597,Friday,00:00:01,2
2,2019-12-06 00:00:02,22.680222,8.100184,997.317017,175,183,186,0.028473,597,Friday,00:00:02,2
3,2019-12-06 00:00:03,22.746170,8.289584,997.347107,178,188,191,0.040296,597,Friday,00:00:03,2
4,2019-12-06 00:00:04,22.746170,8.289584,997.347107,178,188,191,0.040296,597,Friday,00:00:04,2
...,...,...,...,...,...,...,...,...,...,...,...,...
604795,2019-12-12 23:59:55,24.955154,14.800212,987.916016,170,194,200,0.040296,806,Thursday,23:59:55,2
604796,2019-12-12 23:59:56,24.988129,14.823887,987.916016,172,188,191,0.040296,805,Thursday,23:59:56,2
604797,2019-12-12 23:59:57,24.988129,14.823887,987.916016,172,188,191,0.040296,805,Thursday,23:59:57,2
604798,2019-12-12 23:59:58,24.988129,14.823887,987.916016,172,188,191,0.040296,805,Thursday,23:59:58,2
604799,2019-12-12 23:59:59,24.988129,14.823887,987.916016,172,188,191,0.040296,805,Thursday,23:59:59,2

In [40]:
data['CODen'].value_counts()

CODen
0.040296    400690
0.028473    199935
0.034384       409
0.036355       127
0.032414       124
             ...
0.036243         1
0.036202         1
0.036160         1
0.036118         1
0.040234         1
Name: count, Length: 1194, dtype: int64

In [42]:
try : 
    saveFileUrl = './data/v2_temp_csv.csv'
    data.to_csv(saveFileUrl, index=False)
    print(f'{saveFileUrl} 저장 완료. ')
except OSError as e :
    print(e)

./data/v2_temp_csv.csv 저장 완료.