In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./data/AirQualSample_0619_0625_s5.csv')

In [3]:
data

,AirSpeed,AirDirection,PM1,PM10,PM2_5,Temp,Humidity,CO2Den,CODen,AtmosphericPress,Vibration,FineDustCount1,FineDustCount2,FineDustCount3,FineDustCount4,FineDustCount5,FineDustCount6,TimeStamp
0,0.0,0.0,420.299957,434.999969,430.599945,31.268913,44.559681,602,0.028473,964.413696,0.0,15941400,2420820,661800,4980,312,22,2019-06-19 00:00:00
1,0.0,0.0,420.299957,434.999969,430.599945,31.268913,44.559681,602,0.028473,964.413696,0.0,15941400,2420820,661800,4980,312,22,2019-06-19 00:00:01
2,0.0,0.0,429.699951,445.599945,440.699951,31.301880,44.642544,609,0.028473,964.443787,0.0,15949200,2434860,689280,5280,372,24,2019-06-19 00:00:02
3,0.0,0.0,429.699951,445.599945,440.699951,31.301880,44.642544,609,0.028473,964.443787,0.0,15949200,2434860,689280,5280,372,24,2019-06-19 00:00:03
4,0.0,0.0,429.699951,445.599945,440.699951,31.301880,44.642544,609,0.028473,964.443787,0.0,15949200,2434860,689280,5280,372,24,2019-06-19 00:00:04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
604795,0.0,0.0,506.699951,511.899963,510.499969,32.736076,32.710342,613,0.028473,969.264771,0.0,17325600,2920500,841560,1860,156,6,2019-06-25 23:59:55
604796,0.0,0.0,506.699951,511.899963,510.499969,32.736076,32.710342,613,0.028473,969.264771,0.0,17325600,2920500,841560,1860,156,6,2019-06-25 23:59:56
604797,0.0,0.0,506.699951,511.899963,510.499969,32.736076,32.710342,613,0.028473,969.264771,0.0,17325600,2920500,841560,1860,156,6,2019-06-25 23:59:57
604798,0.0,0.0,507.799957,512.499939,511.299957,32.736076,32.734020,619,0.028473,969.234680,0.0,17369400,2938500,842040,1680,132,6,2019-06-25 23:59:58
604799,0.0,0.0,507.799957,512.499939,511.299957,32.736076,32.734020,619,0.028473,969.234680,0.0,17369400,2938500,842040,1680,132,6,2019-06-25 23:59:59

In [4]:
data.columns

Index(['AirSpeed', 'AirDirection', 'PM1', 'PM10', 'PM2_5', 'Temp', 'Humidity',
       'CO2Den', 'CODen', 'AtmosphericPress', 'Vibration', 'FineDustCount1',
       'FineDustCount2', 'FineDustCount3', 'FineDustCount4', 'FineDustCount5',
       'FineDustCount6', 'TimeStamp'],
      dtype='object')

In [5]:
data = data.rename(columns={'TimeStamp': 'dtime'})
data = data[['dtime', 'Temp', 'Humidity', 'AtmosphericPress', 'PM1', 'PM2_5', 'PM10', 'CODen', 'CO2Den']]

In [6]:
data

,dtime,Temp,Humidity,AtmosphericPress,PM1,PM2_5,PM10,CODen,CO2Den
0,2019-06-19 00:00:00,31.268913,44.559681,964.413696,420.299957,430.599945,434.999969,0.028473,602
1,2019-06-19 00:00:01,31.268913,44.559681,964.413696,420.299957,430.599945,434.999969,0.028473,602
2,2019-06-19 00:00:02,31.301880,44.642544,964.443787,429.699951,440.699951,445.599945,0.028473,609
3,2019-06-19 00:00:03,31.301880,44.642544,964.443787,429.699951,440.699951,445.599945,0.028473,609
4,2019-06-19 00:00:04,31.301880,44.642544,964.443787,429.699951,440.699951,445.599945,0.028473,609
...,...,...,...,...,...,...,...,...,...
604795,2019-06-25 23:59:55,32.736076,32.710342,969.264771,506.699951,510.499969,511.899963,0.028473,613
604796,2019-06-25 23:59:56,32.736076,32.710342,969.264771,506.699951,510.499969,511.899963,0.028473,613
604797,2019-06-25 23:59:57,32.736076,32.710342,969.264771,506.699951,510.499969,511.899963,0.028473,613
604798,2019-06-25 23:59:58,32.736076,32.734020,969.234680,507.799957,511.299957,512.499939,0.028473,619
604799,2019-06-25 23:59:59,32.736076,32.734020,969.234680,507.799957,511.299957,512.499939,0.028473,619

In [7]:
data['PM1'] = data['PM1'].round().astype('Int64')
data['PM2_5'] = data['PM2_5'].round().astype('Int64')
data['PM10'] = data['PM10'].round().astype('Int64')

In [8]:
data

,dtime,Temp,Humidity,AtmosphericPress,PM1,PM2_5,PM10,CODen,CO2Den
0,2019-06-19 00:00:00,31.268913,44.559681,964.413696,420,431,435,0.028473,602
1,2019-06-19 00:00:01,31.268913,44.559681,964.413696,420,431,435,0.028473,602
2,2019-06-19 00:00:02,31.301880,44.642544,964.443787,430,441,446,0.028473,609
3,2019-06-19 00:00:03,31.301880,44.642544,964.443787,430,441,446,0.028473,609
4,2019-06-19 00:00:04,31.301880,44.642544,964.443787,430,441,446,0.028473,609
...,...,...,...,...,...,...,...,...,...
604795,2019-06-25 23:59:55,32.736076,32.710342,969.264771,507,510,512,0.028473,613
604796,2019-06-25 23:59:56,32.736076,32.710342,969.264771,507,510,512,0.028473,613
604797,2019-06-25 23:59:57,32.736076,32.710342,969.264771,507,510,512,0.028473,613
604798,2019-06-25 23:59:58,32.736076,32.734020,969.234680,508,511,512,0.028473,619
604799,2019-06-25 23:59:59,32.736076,32.734020,969.234680,508,511,512,0.028473,619

In [9]:
data['weekday'] = pd.to_datetime(data['dtime']).dt.strftime('%A')

In [10]:
data

,dtime,Temp,Humidity,AtmosphericPress,PM1,PM2_5,PM10,CODen,CO2Den,weekday
0,2019-06-19 00:00:00,31.268913,44.559681,964.413696,420,431,435,0.028473,602,Wednesday
1,2019-06-19 00:00:01,31.268913,44.559681,964.413696,420,431,435,0.028473,602,Wednesday
2,2019-06-19 00:00:02,31.301880,44.642544,964.443787,430,441,446,0.028473,609,Wednesday
3,2019-06-19 00:00:03,31.301880,44.642544,964.443787,430,441,446,0.028473,609,Wednesday
4,2019-06-19 00:00:04,31.301880,44.642544,964.443787,430,441,446,0.028473,609,Wednesday
...,...,...,...,...,...,...,...,...,...,...
604795,2019-06-25 23:59:55,32.736076,32.710342,969.264771,507,510,512,0.028473,613,Tuesday
604796,2019-06-25 23:59:56,32.736076,32.710342,969.264771,507,510,512,0.028473,613,Tuesday
604797,2019-06-25 23:59:57,32.736076,32.710342,969.264771,507,510,512,0.028473,613,Tuesday
604798,2019-06-25 23:59:58,32.736076,32.734020,969.234680,508,511,512,0.028473,619,Tuesday
604799,2019-06-25 23:59:59,32.736076,32.734020,969.234680,508,511,512,0.028473,619,Tuesday

In [12]:
data['weekday'].value_counts()

weekday
Wednesday    86400
Thursday     86400
Friday       86400
Saturday     86400
Sunday       86400
Monday       86400
Tuesday      86400
Name: count, dtype: int64

In [13]:
data['time_hms'] = pd.to_datetime(data['dtime']).dt.time

In [14]:
data['st_id'] = 48;

In [15]:
data

,dtime,Temp,Humidity,AtmosphericPress,PM1,PM2_5,PM10,CODen,CO2Den,weekday,time_hms,st_id
0,2019-06-19 00:00:00,31.268913,44.559681,964.413696,420,431,435,0.028473,602,Wednesday,00:00:00,48
1,2019-06-19 00:00:01,31.268913,44.559681,964.413696,420,431,435,0.028473,602,Wednesday,00:00:01,48
2,2019-06-19 00:00:02,31.301880,44.642544,964.443787,430,441,446,0.028473,609,Wednesday,00:00:02,48
3,2019-06-19 00:00:03,31.301880,44.642544,964.443787,430,441,446,0.028473,609,Wednesday,00:00:03,48
4,2019-06-19 00:00:04,31.301880,44.642544,964.443787,430,441,446,0.028473,609,Wednesday,00:00:04,48
...,...,...,...,...,...,...,...,...,...,...,...,...
604795,2019-06-25 23:59:55,32.736076,32.710342,969.264771,507,510,512,0.028473,613,Tuesday,23:59:55,48
604796,2019-06-25 23:59:56,32.736076,32.710342,969.264771,507,510,512,0.028473,613,Tuesday,23:59:56,48
604797,2019-06-25 23:59:57,32.736076,32.710342,969.264771,507,510,512,0.028473,613,Tuesday,23:59:57,48
604798,2019-06-25 23:59:58,32.736076,32.734020,969.234680,508,511,512,0.028473,619,Tuesday,23:59:58,48
604799,2019-06-25 23:59:59,32.736076,32.734020,969.234680,508,511,512,0.028473,619,Tuesday,23:59:59,48

In [16]:
data['CODen'].value_counts()

CODen
0.028473    436535
0.016648    167691
0.022560       164
0.024531        94
0.020589        92
0.019604        50
0.025517        50
0.026502        15
0.018619        13
0.018337         8
0.020026         8
0.021716         8
0.023405         8
0.025094         8
0.026784         8
0.026108         7
0.023743         7
0.021378         7
0.019013         7
0.018126         5
0.021082         5
0.024039         5
0.026995         5
Name: count, dtype: int64

In [17]:
try : 
    saveFileUrl = './data/v2_temp_csv.csv'
    data.to_csv(saveFileUrl, index=False)
    print(f'{saveFileUrl} ì €ìž¥ ì™„ë£Œ. ')
except OSError as e :
    print(e)

./data/v2_temp_csv.csv ì €ìž¥ ì™„ë£Œ.